th {
    text-align: center;
    color: white;
    background-color: #005b96;
  }

  .box.box-solid.box-success>.box-header {
    color: #fff;
    background: #011f4b;
    background-color: #011f4b;
}

.box.box-solid.box-success {
    border: 1px solid #011f4b;
}