.img-bordered-sm-online {
    border: 2px solid #41da05;
    padding: 2px;
}
.img-bordered-sm-offline {
    border: 2px solid #a1a5a5;
    padding: 2px;
}

fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #005b96;
    padding-left: 10px !important;
  }
  
  legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
  }

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #011f4b;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #011f4b;
    background-color: #011f4b;
}

.box.box-solid.box-primary {
    border: 1px solid #011f4b;
}

span a.linkified {
    color: #ffffff;
}
span a.linkified:hover {
    color: #666464;
}
.url-color {
    color: #ffffff;
}
.url-color:hover {
    color: #666464;
}

.uploadfilecontainer {
    background-image: url('../../../assets/img/cloud.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    width: 98%;
    height: 576px;
    margin: 4px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.uploadfilecontainer div.box-body div.direct-chat-messages div {
    display: none;
}

.uploadfilecontainer div.box-footer {
    display: none;
}

.uploadfilecontainer div.box-footer form {
    display: none;
}

.margin-message {
    margin: 5px 50px;
}
.margin-image-right {
   margin-right: 10px;
}
.margin-image-left {
   margin-left: 10px;
}