<div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-hover table-striped headercenter">
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th>เลขที่ส่งต่อ</th>
                <th *ngIf="path=='referin'">จาก</th>
                <th *ngIf="path!='referin'">ถึง</th>
                <th>ชื่อ-สกุล</th>
                <th>วันที่ส่งต่อ</th>
                <th>เวลาส่งต่อ</th>
                <th>ผู้ป่วยแผนก</th>
                <th>สถานะ</th>
                <th>การเดินทาง</th>
                <th>สถานะการส่ง</th>
                <th>Discussion</th>
                <th>รายละเอียด</th>
                <th *ngIf="path=='referout'">Tracking</th>
                <th *ngIf="accept">ยกเลิกลงรับ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of lists | filter: { clinicgroup: clinic } | filter: { loads_name: loads } | filter: {
                                        refer_no: search,
                                        from_hospname: search,
                                        refer_hospname: search,
                                        pname: search,
                                        fname: search,
                                        lname: search,
                                        level_name: search,
                                        loads_name: search
                                    }; let i=index;">
                <td class="text-center">{{i+1}}</td>
                <td>{{l.refer_no}}</td>
                <td *ngIf="path=='referin'">{{replaceHospname(l.from_hospname)}}</td>
                <td *ngIf="path!='referin'">{{replaceHospname(l.refer_hospname)}}</td>
                <td>{{l.pname}}{{l.fname}} {{l.lname}}</td>
                <td>{{l.refer_date | thaidate:'short'}}</td>
                <td>{{l.load_time || l.refer_time}}</td>
                <td>{{l.ClinicGroup_name}}</td>
                <td>
                    <span class="badge" [ngClass]="{
                        'bg-red': l.level_acute=='01',
                        'bg-orange': l.level_acute=='02',
                        'bg-yellow': l.level_acute=='03',
                        'bg-lime': l.level_acute=='04',
                        'bg-olive': l.level_acute=='05'
                    }">
                        {{l.level_name}}
                    </span>
                </td>
                <td>{{l.loads_name}}</td>
                <td class="text-center">
                    <span class="badge bg-green" *ngIf="l.reply_status=='01'">ลงรับแล้ว</span>
                    <span class="badge bg-orange" *ngIf="!l.reply_status">รอลงรับ</span>
                </td>
                <td class="text-center">
                    <a [routerLink]="['/',path,l.token_no.replace('==', '').replace('=', '')]"
                        [queryParams]="{tab:'comment'}" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <sup>
                            <span style="font-size: 8px;" class="badge bg-red" *ngIf="l.nonread>0">
                                {{ (l.nonread>99)?'99+':l.nonread }}
                            </span>
                        </sup>
                    </a>
                </td>
                <td class="text-center">
                    <a [routerLink]="['/',path,l.token_no.replace('==', '').replace('=', '')]"
                        [queryParams]="{tab:'detail'}" type="button" class="btn btn-info btn-sm">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </a>
                </td>
                <td *ngIf="path=='referout'" class="text-center">
                    <a *ngIf="main.in_array(l.loads_id,['01','02','03'])" (click)="onTracking(l.token_no)" type="button"
                        class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-qrcode"
                        data-backdrop="static">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                    </a>
                </td>
                <td *ngIf="accept" class="text-center">
                    <button class="btn btn-danger btn-sm" (click)="onCancel(l)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="modal-qrcode">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-orange">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">
                    <i class="fa fa-ambulance" aria-hidden="true"></i>
                    QR CODE สำหรับรถ Ambulance
                </h2>
            </div>
            <div class="modal-body text-center">
                <!-- <qrcode *ngIf="qrCodeData" [qrdata]="qrCodeData" [size]="256" [level]="'M'"></qrcode> -->
                <ngx-qrcode *ngIf="qrCodeData" [qrc-element-type]="url" [qrc-value]="qrCodeData"></ngx-qrcode>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>