fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #005b96;
    padding-left: 10px !important;
  }
  
  legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
  }

  .nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #011f4b;
}

.box.box-solid.box-success>.box-header {
    color: #fff;
    background: #011f4b;
    background-color: #011f4b;
}

.box.box-solid.box-success {
    border: 1px solid #011f4b;
}