<div class="box box-success box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">ข้อมูลผู้ป่วยส่งต่อ</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <fieldset>
            <legend>ข้อมูลผู้ป่วย</legend>
            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">จุดรับส่งต่อ</span>
                        <input type="text" class="form-control" [value]="detail?.station_name" disabled>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">วันที่ส่งต่อ</span>
                        <input type="text" class="form-control" [value]="detail?.vst_date | thaidate:'medium'" disabled>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">VN</span>
                        <input type="text" class="form-control" [value]="detail?.vn" disabled>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">เลขบัตรประชาชน</span>
                        <input type="text" class="form-control" [value]="detail?.cid" disabled>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">HN</span>
                        <input type="text" class="form-control" [value]="detail?.hn" disabled>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">คำนำหน้า</span>
                        <input type="text" class="form-control" [value]="detail?.pname" disabled>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">ชื่อ</span>
                        <input type="text" class="form-control" [value]="detail?.fname" disabled>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">นามสกุล</span>
                        <input type="text" class="form-control" [value]="detail?.lname" disabled>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">วัน-เดือน-ปีเกิด (อายุ)</span>
                        <input type="text" class="form-control"
                            value="{{ detail?.age | thaidate:'medium' }} ({{ detail?.age | age }})" disabled>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">เพศ</span>
                        <input type="text" class="form-control" [value]="detail?.sex" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">ที่อยู่</span>
                        <input type="text" class="form-control"
                            value="{{ detail?.addrpart }} หมู่ {{ detail?.moopart }} ตำบล{{ detail?.tmbname }} อำเภอ{{ detail?.ampname }} จังหวัด{{ detail?.chwname }}"
                            disabled>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-2">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">หมู่</span>
                        <input type="text" class="form-control" [value]="detail?.moopart" disabled>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">ตำบล</span>
                        <input type="text" class="form-control" [value]="detail?.tmbname" disabled>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">อำเภอ</span>
                        <input type="text" class="form-control" [value]="detail?.ampname" disabled>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">จังหวัด</span>
                        <input type="text" class="form-control" [value]="detail?.chwname" disabled>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">ชื่อ​-สกุล บิดา</span>
                        <input type="text" class="form-control" [value]="detail?.father" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">ชื่อ​-สกุล มารดา</span>
                        <input type="text" class="form-control" [value]="detail?.mother" disabled>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">ห้องตรวจ/หอผู้ป่วย</span>
                        <input type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">แพ้ยา</span>
                        <input type="text" class="form-control" [value]="detail?.drugallergy" disabled>
                    </div>
                </div>
            </div>
        </fieldset>

    </div>
    <!-- /.box-body -->
</div>