<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container body-width">
            <div class="navbar-header">
                <a href="javascript:void(0)" [routerLink]="['/']" class="navbar-brand">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <b>R9</b>Refer
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active" *ngIf="user?.status>'0'">
                        <a [routerLink]="['/referin']">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            Refer In
                            <span class="label label-danger" *ngIf="countReferIn>0">
                                {{ (countReferIn>99)?'99+':countReferIn }}
                            </span>
                        </a>
                    </li>
                    <li routerLinkActive="active" *ngIf="user?.status>'0'">
                        <a [routerLink]="['/referout']">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Refer Out
                            <!-- <span class="label label-danger">1</span> -->
                        </a>
                    </li>
                    <!-- <li routerLinkActive="active">
                        <a [routerLink]="['/referback']">
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                            Refer Back
                        </a>
                    </li> -->
                    <!-- <li routerLinkActive="active" *ngIf="user?.status>'0'">
                        <a [routerLink]="['/chatroom']" (click)="clearCountAlert();countAlert = 0;">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            Online Chat
                            <span class="label label-danger" *ngIf="countAlert>0">
                                {{ (countAlert>99)?'99+':countAlert }}
                            </span>
                        </a>
                    </li> -->
                    <li routerLinkActive="active" *ngIf="user?.status>'1'">
                        <a [routerLink]="['/listuser']">
                            <i class="fa fa-address-book-o" aria-hidden="true"></i>
                            รายชื่อบัญชีผู้ใช้
                        </a>
                    </li>
                    <li routerLinkActive="active" *ngIf="user?.status>'1' || user?.status=='0'">
                        <a [routerLink]="['/adduser']">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            เพิ่มบัญชีผู้ใช้
                        </a>
                    </li>
                    <li routerLinkActive="active" *ngIf="user?.status>'0'">
                        <a [routerLink]="['/monitor']" target="_blank">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                            Monitor
                            <!-- <span class="label label-danger">4</span> -->
                        </a>
                    </li>
                    <!-- <li routerLinkActive="active" *ngIf="user?.status>'0'">
                        <a [routerLink]="['/dicomviewer']">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                            DicomViewerLib
                        </a>
                    </li> -->
                </ul>
                <!-- <form class="navbar-form navbar-left" role="search">
                    <div class="form-group"><input type="text" class="form-control" id="navbar-search-input"
                            placeholder="Search">
                    </div>
                </form> -->
            </div>
            <!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown notifications-menu" routerLinkActive="active" *ngIf="user?.status>'0'">
                        <a [routerLink]="['/chatroom']" (click)="clearCountAlert();countAlert = 0;"
                            class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span class="label label-danger" *ngIf="countAlert>0">
                                {{ (countAlert>99)?'99+':countAlert }}
                            </span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu" *ngIf="user?.status>'0'">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                            <span class="label label-danger" *ngIf="commentAlert>0">
                                {{ commentAlert }}
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header text-center bg-orange">
                                <i class="fa fa-bell-o" aria-hidden="true"></i>
                                รายการ Discussion 20 ลำดับล่าสุด
                            </li>
                            <li>
                                <ul class="menu">
                                    <li *ngFor="let c of commentList; let i=index;"
                                        [class.bg-gray]="main.in_array(c.refer_no,arrReferNo)">
                                        <a [routerLink]="[c.router_path,c.referno_token]"
                                            [queryParams]="{tab:'comment'}">
                                            <!-- <i class="fa fa-comment" *ngIf="main.in_array(c.refer_no,arrReferNo)"></i>
                                            <i class="fa fa-comment-o"
                                                *ngIf="!main.in_array(c.refer_no,arrReferNo)"></i> -->
                                            <img class="direct-chat-img"
                                                [src]="c?.image || './assets/img/profile-avatar-user-'+c?.sex+'.png'"
                                                alt="message user image">&nbsp;&nbsp;
                                            {{ c.refer_no }}
                                            <img *ngIf="c.type=='image'" class="pull-right"
                                                [src]="c.comment.split('|')[1]" height="45px;" />
                                            <i *ngIf="c.type=='file'"
                                                class="pull-right fa fa-paperclip fa-flip-horizontal fa-2x"
                                                aria-hidden="true"></i>
                                            <br>&nbsp;&nbsp;
                                            {{ (c.fname+' '+c.lname).substring(0,15) }}...
                                            <span *ngIf="c.type=='message'">
                                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                                {{ c.comment }}
                                            </span>
                                            <span *ngIf="c.type=='image'">
                                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                            </span>
                                            <span *ngIf="c.type=='file'">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                {{ (c.comment.split('/')[c.comment.split('/').length-1]).substring(14) }}
                                            </span>
                                            <br>&nbsp;&nbsp;
                                            <i class="fa"
                                                [ngClass]="(main.in_array(c.refer_no,arrReferNo))?'fa-paper-plane text-maroon':'fa-paper-plane-o'"></i>
                                            &nbsp;&nbsp;
                                            <i class="fa fa-clock-o"></i>
                                            {{ c.d_update | timeAgo:dateNow }}
                                            &nbsp;&nbsp;
                                            <i class="fa"
                                                [ngClass]="(main.in_array(c.refer_no,arrReferNo))?'fa-envelope text-maroon':'fa-envelope-open-o'"></i>
                                        </a>
                                    </li>
                                    <li *ngIf="!commentList" class="text-center" style="font-size: 12px; color:gray;">
                                        ไม่พบรายการใหม่ใน Discussion
                                    </li>
                                </ul>
                            </li>
                            <!-- <li class="dropdown-divider"></li> -->
                            <li class="footer" style="background-color: rgb(216, 215, 215);">
                                <a href="javascrip:void(0);">Close</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <!-- <img *ngIf="!user?.image" src="./assets/img/profile-avatar-user-{{user?.sex}}.png"
                                class="user-image" alt="User Image"> -->
                            <img [src]="user?.image || './assets/img/profile-avatar-user-'+user?.sex+'.png'"
                                class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">{{user?.fname}} {{user?.lname}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <!-- <img *ngIf="!user?.image" src="./assets/img/profile-avatar-user-{{user?.sex}}.png"
                                    class="img-circle" alt="User Image"> -->
                                <img [src]="user?.image || './assets/img/profile-avatar-user-'+user?.sex+'.png'"
                                    class="img-circle" alt="User Image">

                                <p>
                                    {{user?.pname}}{{user?.fname}} {{user?.lname}}
                                    <small>{{user?.hospname}}</small>
                                </p>
                            </li>
                            <li class="user-footer bg-orange">
                                <div class="pull-left">
                                    <a [routerLink]="['/editprofile']" class="btn btn-default btn-flat"
                                        *ngIf="user?.status>'0'">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        Edit Profile
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <a href="javascript:void(0)" (click)="logOut()" class="btn btn-default btn-flat">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        Sign out
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="user?.status>'1'">
                        <a href="#" (click)="genToken()" data-toggle="control-sidebar" data-toggle="modal"
                            data-target="#modal-default" data-backdrop="static">
                            <i class="fa fa-gears"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form enctype="multipart/form-data" class="form-horizontal box">
                <div class="modal-header bg-orange">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">
                        <i class="fa fa-magic" aria-hidden="true"></i>
                        ระบบจัดการ Token R9Refer
                    </h2>
                </div>
                <div class="overlay" *ngIf="!isToken">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="modal-body" *ngIf="isToken">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">หน่วยงาน: </label>
                        <div class="col-sm-10 col-md-10">
                            <input type="text" class="form-control" [(ngModel)]="user.hospname" name="hospname"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Token: </label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button (click)="genNewToken()" type="button" class="btn btn-info btn-flat">
                                        <i class="fa fa-refresh" aria-hidden="true"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control" [(ngModel)]="dataToken" name="dataToken"
                                    id="dataToken" readonly>
                                <span class="input-group-btn">
                                    <button (click)="onCopy('dataToken')" type="button"
                                        class="btn btn-default btn-flat">
                                        <i class="fa fa-files-o" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Line In: </label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="token.line_token_in"
                                    name="line_token_in" id="line_token_in" required>
                                <span class="input-group-btn">
                                    <button (click)="onCopy('line_token_in')" type="button"
                                        class="btn btn-default btn-flat">
                                        <i class="fa fa-files-o" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Line Out: </label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="token.line_token_out"
                                    name="line_token_out" id="line_token_out" required>
                                <span class="input-group-btn">
                                    <button (click)="onCopy('line_token_out')" type="button"
                                        class="btn btn-default btn-flat">
                                        <i class="fa fa-files-o" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Load In: </label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="token.line_token_loads_in"
                                    name="line_token_loads_in" id="line_token_loads_in" required>
                                <span class="input-group-btn">
                                    <button (click)="onCopy('line_token_loads_in')" type="button"
                                        class="btn btn-default btn-flat">
                                        <i class="fa fa-files-o" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Load Out: </label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="token.line_token_loads_out"
                                    name="line_token_loads_out" id="line_token_loads_out" required>
                                <span class="input-group-btn">
                                    <button (click)="onCopy('line_token_loads_out')" type="button"
                                        class="btn btn-default btn-flat">
                                        <i class="fa fa-files-o" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                        Close
                    </button>
                    <button type="submit" (click)="onSunmit()" class="btn btn-info pull-right" data-dismiss="modal">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>