<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">ข้อมูลผู้ป่วยส่งต่อ(โรคทั่วไป)</h3>
            <div class="box-tools">
                <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>Refer No</th>
                        <th>จาก</th>
                        <th>ชื่อ-สกุล</th>
                        <th>วันที่</th>
                        <th>เวลา</th>
                        <th>สถานะ</th>
                        <th>มาด้วย</th>
                        <th>ลงรับ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of lists; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{l.refer_no}}</td>
                        <td>{{l.hospname}}</td>
                        <td>{{l.pname}}{{l.fname}} {{l.lname}}</td>
                        <td>{{l.refer_date | thaidate:'short'}}</td>
                        <td>{{l.load_time || l.refer_time}}</td>
                        <td>{{l.level_name}}</td>
                        <td>{{l.loads_name}}</td>
                        <td>
                            <a (click)="toDetail(l.refer_no)" type="button" class="btn btn-success">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                ลงรับ
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>