<div class="content-wrapper">
  <div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Top Navigation
        <small>Example 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Layout</a></li>
        <li class="active">Top Navigation</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">ข้อมูลผู้ป่วยส่งต่อ(โรคทั่วไป)</h3>
        </div>
        <div class="box-body">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#data_1" data-toggle="tab">ข้อมูลผู้ป่วย</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="data_1">

                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">จุดรับบริการ</label>
                      <select class="form-control input-sm">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">วันที่รับบริการ</label>
                      <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                        placeholder="Enter email">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">VN</label>
                      <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                        placeholder="Enter email">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">เลขบัตรประชาชน</label>
                      <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                        placeholder="Enter email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">HN</label>
                      <select class="form-control input-sm">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">คำนำหน้า</label>
                      <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                        placeholder="Enter email">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">ชื่อ</label>
                      <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                        placeholder="Enter email">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">นามสกุล</label>
                      <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                        placeholder="Enter email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">อายุ (วัน-เดือน-ปี)</label>
                      <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                        placeholder="Enter email">
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">เพศ</label>
                      <select class="form-control input-sm">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">ที่อยู่</label>
                      <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                        placeholder="Enter email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">หมู่</label>
                      <select class="form-control input-sm">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">ตำบล</label>
                      <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                        placeholder="Enter email">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">อำเภอ</label>
                      <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                        placeholder="Enter email">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">จังหวัด</label>
                      <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                        placeholder="Enter email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">ห้องตรวจ/หอผู้ป่วย</label>
                      <select class="form-control input-sm">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group small">
                      <label for="exampleInputEmail1">แพ้ยา</label>
                      <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                        placeholder="Enter email">
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>

          <!-- ============================================================================================= -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">ข้อมูลส่งต่อทั่วไป</a></li>
              <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Treatment</a></li>
              <li><a href="#tab_3" data-toggle="tab">ข้อมูลการใช้ยา</a></li>
              <li><a href="#tab_4" data-toggle="tab">Lab Result</a></li>
              <li><a href="#tab_5" data-toggle="tab">X-ray Result</a></li>
              <li><a href="#tab_6" data-toggle="tab">แนบรูปภาพ</a></li>
              <li><a href="#tab_7" data-toggle="tab">ข้อมูลการปฏิเสธ</a></li>
              <li><a href="#tab_8" data-toggle="tab">การประเมินคุณภาพ</a></li>
              <li><a href="#tab_9" data-toggle="tab">Webboard</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <fieldset>
                  <legend>รายละเอียด</legend>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group small">
                        <label for="exampleInputEmail1">เหตุผลการส่ง</label>
                        <select class="form-control input-sm">
                          <option>option 1</option>
                          <option>option 2</option>
                          <option>option 3</option>
                          <option>option 4</option>
                          <option>option 5</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group small">
                        <label for="exampleInputEmail1">แพทย์ผู้สั่ง</label>
                        <div class="row">
                          <div class="col-sm-4">
                            <select class="form-control input-sm">
                              <option>option 1</option>
                              <option>option 2</option>
                              <option>option 3</option>
                              <option>option 4</option>
                              <option>option 5</option>
                            </select>
                          </div>
                          <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" placeholder=".col-xs-5">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group small">
                        <label for="exampleInputEmail1">ประสานงาน</label>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox">
                            ไม่จำเป็น
                          </label>&nbsp;&nbsp;
                          <label>
                            <input type="checkbox">
                            ไม่ประสาน
                          </label>&nbsp;&nbsp;
                          <label>
                            <input type="checkbox">
                            ประสานงานโดยแพทย์
                          </label>&nbsp;&nbsp;
                          <label>
                            <input type="checkbox">
                            ประสานงานโดยพยาบาล
                          </label>&nbsp;&nbsp;
                        </div>
                      </div>
                    </div>
                  </div>
                  <fieldset>
                    <legend>การประเมิณผู้ป่วย</legend>
                    <div class="row">
                      <div class="col-sm-2">
                        <table class="table table-bordered small">
                          <tbody>
                            <tr class="small">
                              <th>Consciousness</th>
                            </tr>
                            <tr>
                              <td>
                                <select class="form-control input-sm">
                                  <option>option 1</option>
                                  <option>option 2</option>
                                  <option>option 3</option>
                                  <option>option 4</option>
                                  <option>option 5</option>
                                </select>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-sm-3">
                        <table class="table table-bordered small">
                          <tbody>
                            <tr class="small">
                              <th>E</th>
                              <th>V</th>
                              <th>M</th>
                            </tr>
                            <tr>
                              <td>
                                <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                                  placeholder="Enter email">
                              </td>
                              <td>
                                <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                                  placeholder="Enter email">
                              </td>
                              <td>
                                <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                                  placeholder="Enter email">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-sm-2">
                        <table class="table table-bordered small">
                          <tbody>
                            <tr class="small">
                              <th>Pupil ขวา</th>
                              <th>Pupil ซ้าย</th>
                            </tr>
                            <tr>
                              <td> <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                                  placeholder="Enter email"></td>
                              <td> <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                                  placeholder="Enter email"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-sm-5">
                        <table class="table table-bordered small">
                          <tbody>
                            <tr class="small">
                              <th>T(c)</th>
                              <th>PR(ครั้ง/นาที)</th>
                              <th>RR(ครั้ง/นาที)</th>
                              <th>BP(mmHg)</th>
                              <th>Sp O2(%)</th>
                            </tr>
                            <tr>
                              <td> <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                                  placeholder="Enter email"></td>
                              <td> <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                                  placeholder="Enter email"></td>
                              <td> <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                                  placeholder="Enter email"></td>
                              <td> <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                                  placeholder="Enter email"></td>
                              <td> <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                                  placeholder="Enter email"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </fieldset>
                  <div class="row">
                    <div class="col-sm-4">
                      <fieldset>
                        <legend>CC\PI\Physical examination</legend>
                        <textarea class="form-control" rows="10" placeholder="Enter ..."></textarea>
                      </fieldset>
                      <fieldset>
                        <legend>Memo ต้นทาง</legend>
                        <textarea class="form-control" rows="10" placeholder="Enter ..."></textarea>
                      </fieldset>
                    </div>
                    <div class="col-sm-4">
                      <fieldset>
                        <legend>Management</legend>
                        <textarea class="form-control" rows="10" placeholder="Enter ..."></textarea>
                      </fieldset>
                      <fieldset>
                        <legend>Memo ปลายทาง</legend>
                        <textarea class="form-control" rows="10" placeholder="Enter ..."></textarea>
                      </fieldset>
                    </div>
                    <div class="col-sm-4">
                      <fieldset>
                        <legend>Diagnosis</legend>
                        <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                      </fieldset>
                      <fieldset>
                        <legend>การวินิจฉัย (ICD-10)</legend>
                        <div class="box-body table-responsive no-padding">
                          <table class="table table-hover table-condensed table-bordered">
                            <tbody>
                              <tr>
                                <th>ICD10</th>
                                <th>ประเภท</th>
                                <th>Diag Description</th>
                              </tr>
                              <tr>
                                <td>183</td>
                                <td>John Doe</td>
                                <td>11-7-2014</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </fieldset>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                <div class="box-footer">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false">
                      วัน-เวลาที่ปฏฺิบัติ <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                    </ul>
                  </div>
                  <button type="button" class="btn btn-default btn-sm pull-right">Sync Drug use</button>
                  <button type="button" class="btn btn-default btn-sm pull-right btnmg">เลือกทั้งหมด</button>
                  <button type="button" class="btn btn-default btn-sm pull-right btnmg">ไม่เลือกทั้งหมด</button>
                </div>
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>ID</th>
                        <th>รายการรักษา</th>
                        <th></th>

                      </tr>
                      <tr>
                        <td>183</td>
                        <td>John Doe</td>
                        <td>John Doe</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">

                <div class="box-footer">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false">
                      วัน-เวลาที่สั่ง <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                    </ul>
                  </div>
                  <button type="button" class="btn btn-default btn-sm pull-right">Sync Drug use</button>
                  <button type="button" class="btn btn-default btn-sm pull-right btnmg">เลือกทั้งหมด</button>
                  <button type="button" class="btn btn-default btn-sm pull-right btnmg">ไม่เลือกทั้งหมด</button>
                </div>
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>ID</th>
                        <th>ชื่อยา</th>
                        <th>วิธีใช้</th>
                        <th>จำนวนที่สั่ง</th>
                        <th>หมายเหตุ1</th>
                        <th>หมายเหตุ2</th>
                      </tr>
                      <tr>
                        <td>183</td>
                        <td>John Doe</td>
                        <td>11-7-2014</td>
                        <td><span class="label label-success">Approved</span></td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="tab_4">

                <div class="box-footer">
                  <div class="btn-group btnmg">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false">
                      Result DataTime <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                    </ul>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false">
                      Lab Room <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                    </ul>
                  </div>
                  <button type="button" class="btn btn-default btn-sm pull-right">Sync Drug use</button>
                  <button type="button" class="btn btn-default btn-sm pull-right btnmg">พิมพ์ผล Lab</button>
                  <button type="button" class="btn btn-default btn-sm pull-right btnmg">เลือกทั้งหมด</button>
                  <button type="button" class="btn btn-default btn-sm pull-right btnmg">ไม่เลือกทั้งหมด</button>
                </div>
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>ID</th>
                        <th>Request No.</th>
                        <th>Lab Name</th>
                        <th>Result Value</th>
                        <th>Normal Value</th>
                      </tr>
                      <tr>
                        <td>183</td>
                        <td>John Doe</td>
                        <td>11-7-2014</td>
                        <td><span class="label label-success">Approved</span></td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="tab_5">
                <div class="nav-tabs-custom">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#sub_51" data-toggle="tab">Result Text</a></li>
                    <li><a href="#sub_52" data-toggle="tab">PACS</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="sub_51">
                      <div class="box-footer">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                            Lab Room <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                          </ul>
                        </div>
                        <button type="button" class="btn btn-default btn-sm pull-right">Sync Drug use</button>
                        <button type="button" class="btn btn-default btn-sm pull-right btnmg">เลือกทั้งหมด</button>
                        <button type="button" class="btn btn-default btn-sm pull-right btnmg">ไม่เลือกทั้งหมด</button>
                      </div>
                      <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <th>ID</th>
                              <th>Request No.</th>
                              <th>Result Value</th>
                              <th>Result DataTime</th>
                            </tr>
                            <tr>
                              <td>183</td>
                              <td>John Doe</td>
                              <td>11-7-2014</td>
                              <td><span class="label label-success">Approved</span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="sub_52">
                      <div class="box-footer">
                        <button type="button" class="btn btn-default btn-sm pull-right btnmg">Sync PACS</button>
                        <button type="button" class="btn btn-default btn-sm pull-right btnmg">Packing Data</button>
                        <button type="button" class="btn btn-default btn-sm pull-right btnmg">Upload Data</button>
                        <button type="button" class="btn btn-default btn-sm pull-right btnmg">View Web Image</button>
                        <div class="form-group pull-right btnmg">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox">
                              Monitor Only
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <th>PACS ID</th>
                              <th>วันที่</th>
                              <th>เวลา</th>
                              <th>HN</th>
                              <th>ชื่อผู้ป่วย</th>
                              <th>ตำแหน่ง</th>
                              <th>วันเดือนปีเกิด</th>
                            </tr>
                            <tr>
                              <td>183</td>
                              <td>John Doe</td>
                              <td>11-7-2014</td>
                              <td><span class="label label-success">Approved</span></td>
                              <td>John Doe</td>
                              <td>11-7-2014</td>
                              <td><span class="label label-success">Approved</span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- /.tab-pane -->
                    <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
                </div>

              </div>
              <div class="tab-pane" id="tab_6">


              </div>
              <div class="tab-pane" id="tab_7">

                <div class="box-footer">
                  <button type="button" class="btn btn-default btn-sm pull-right btnmg">Refresh Data</button>
                </div>
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>ปฏิเสธครั้งที่</th>
                        <th>วันที่</th>
                        <th>เวลา</th>
                        <th>ปฏิเสธโดยโรงพยาบาล</th>
                        <th>เหตุผลการปฏิเสธ</th>
                        <th>Forward ไปโรงพยาบาล</th>
                      </tr>
                      <tr>
                        <td>183</td>
                        <td>John Doe</td>
                        <td>11-7-2014</td>
                        <td><span class="label label-success">Approved</span></td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="tab_8">
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group small">
                      <label for="inputEmail3" class="col-sm-2 control-label">Airway:</label>

                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่จำเป็น
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำเหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำไม่เหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                              placeholder="Enter email">
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่ทำ
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group small">
                      <label for="inputEmail3" class="col-sm-2 control-label">Breathing/Oxygen support:</label>

                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่จำเป็น
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำเหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำไม่เหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                              placeholder="Enter email">
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่ทำ
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group small">
                      <label for="inputEmail3" class="col-sm-2 control-label">Fluid therapy/resusdtation:</label>

                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่จำเป็น
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำเหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำไม่เหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                              placeholder="Enter email">
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่ทำ
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group small">
                      <label for="inputEmail3" class="col-sm-2 control-label">Monitor EKG:</label>

                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่จำเป็น
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำเหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำไม่เหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                              placeholder="Enter email">
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่ทำ
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group small">
                      <label for="inputEmail3" class="col-sm-2 control-label">Monitor SpO2:</label>

                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่จำเป็น
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำเหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำไม่เหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                              placeholder="Enter email">
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่ทำ
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group small">
                      <label for="inputEmail3" class="col-sm-2 control-label">Bleeding control:</label>

                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่จำเป็น
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำเหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำไม่เหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                              placeholder="Enter email">
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่ทำ
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group small">
                      <label for="inputEmail3" class="col-sm-2 control-label">Spine immobilization:</label>

                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่จำเป็น
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำเหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำไม่เหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                              placeholder="Enter email">
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่ทำ
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group small">
                      <label for="inputEmail3" class="col-sm-2 control-label">Extremities splint:</label>

                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่จำเป็น
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำเหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำไม่เหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                              placeholder="Enter email">
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่ทำ
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group small">
                      <label for="inputEmail3" class="col-sm-2 control-label">Pelvic splint:</label>

                      <div class="col-sm-10">
                        <div class="row">
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่จำเป็น
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำเหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ทำไม่เหมาะสม
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <input type="email" class="form-control input-sm" id="exampleInputEmail1"
                              placeholder="Enter email">
                          </div>
                          <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">
                                ไม่ทำ
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <!-- /.box-footer -->
                </form>
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>ปัญหาการส่งต่อ</th>
                        <th>แนวทางแก้ไข</th>
                      </tr>
                      <tr>
                        <td>
                          <textarea class="form-control" rows="5" placeholder="Enter ..."></textarea>
                        </td>
                        <td>
                          <textarea class="form-control" rows="5" placeholder="Enter ..."></textarea>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <label for="exampleInputEmail1">เวลาที่ไปถึง :</label>
                        <td><input type="text" class="form-control input-sm" id="exampleInputEmail1"></td>
                        <label for="exampleInputEmail1">HN รพ. ปลายทาง:</label>
                        <td><input type="text" class="form-control input-sm" id="exampleInputEmail1"></td>
                        <label for="exampleInputEmail1">Admit ward ณ รพ.ปลายทาง:</label>
                        <td><input type="text" class="form-control input-sm" id="exampleInputEmail1"></td>
                        <label for="exampleInputEmail1">ผู้ประเมินแพทย์:</label>
                        <td><input type="text" class="form-control input-sm" id="exampleInputEmail1"></td>
                        <label for="exampleInputEmail1">พยาบาล:</label>
                        <td><input type="text" class="form-control input-sm" id="exampleInputEmail1"></td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
              <div class="tab-pane" id="tab_9">

              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.container -->
</div>