@import url(https://fonts.googleapis.com/css?family=Kanit&display=swap);
@import url(https://fonts.googleapis.com/css?family=Sarabun&display=swap);

.bg-blue31 {
    background-color: #041ca7;
    font-family: 'Kanit', sans-serif;
}

.bg-black-grey {
    background-color:#000000;
    color: #ffffff;
}

.bg-cyan {
    background-color: cyan;
    color: #444444;
}

.textmiddle th {
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    border: 4px solid #f4f4f4;
}

.textmiddle td {
  height: 88px;
  font-size: 26px;
  vertical-align: middle;
  border: 4px solid #f4f4f4;
}

