// @import url(../../../node_modules/bootstrap/dist/css/bootstrap.min.css);

.bg-red {
    background-color: red;
}

.bg-ping {
    background-color:palevioletred;
}

.bg-yellow {
    background-color:yellow;
}

.bg-grey {
    background-color:grey;
    border-color: grey;
}

.bg-grey1 {
    background-color:#B5B5B5;
    border-color: grey;
}

.bg-grey2 {
    background-color:#CFCFCF;
    border-color: grey;
}

.bg-cyan {
    background-color: cyan;
}

td {
  height: 70px;
}

// tbody>tr:hover {
//     background-color: red;
//     color: white;
//     transition: all 3s ease-out; 
// }

// .box  {
// background-color: red;
// transition: all 3s ease-out; 
// }

